body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 80px 1fr;
  grid-template-areas:
    "nav"
    "content";
}

.navbar {
  grid-area: nav;
  background-color: #1e2a37;
  color: white;
}

.content {
  grid-area: content;
}
